<main class="container">
    <section class="section">
        <span class="title is-4">
            <br>
            List of things
        </span>
        <app-add-button 
            modalText="Add" 
            text="Add item" 
            btnClass="is-white is-pulled-right"
            (onDone)="onAddItem($event)">
        </app-add-button>
    </section>

    <section class="content">
        <p class="has-text-centered" *ngIf="!list.length">
            <br>
            There aren't items in your list
        </p>
        <app-list-item [list]="list" (onDelete)="onDeletedItem($event)" (onEdit)="onEditedItem($event)"></app-list-item>
    </section>
</main>